html,body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'Lato', sans-serif;
}
.top-nav {
    display: block;
}
.top-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 2%;
}

.top-nav ul li {
    display: inline-block;
    margin-left: 28px;

}

.top-nav ul li a {
color: azure;
    font-size: 18px;
    text-decoration: none;
}

.top-nav ul li a:hover {
    color: #afafaf;
    transition: .15s ease-in;
}

#section-landing{
    background-size: cover;
    background: url("../img/banner.jpg") no-repeat center;
    height: 100%;
    width: 100%;
}
#wrapper-landing {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 35%;
}

#wrapper-landing h1 {

    font-size: 50px;
    color: azure;
    font-weight: 80;
    font-family: "Lucida Console", "Courier New", monospace;
}

#wrapper-landing h2 {


    color: azure;
    font-weight: 20;
    font-family: "Lucida Console", "Courier New", monospace;

}
.btn-login {
    border: 1px solid azure;
    padding: 10px 30px;
}


#navbar {
    width: 100%;
    height: 70px;
    background-color: black;
    box-shadow: 0px 0px 10px gray;
}

.container-login {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20%;
}
.container-reg {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
}

.wrapper-login {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper-login input {
    width: 200px;
    height: 26px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 18px;
    display: block;
    position: relative;
    margin: 20px auto;
}

input::placeholder {
    color: black;
    font-size: 14px;
}

.wrapper-login h2 {
    font-size: 40px;
    text-transform: uppercase;
}

#submit {
    width: 200px;
    height: 42px;
    border: 1px solid black;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

#submit:hover {
    border: gray;
    background-color: gray;
    transition: 0.15s ease-in;
}

.options a {
    color: darkblue;
}

.options a:hover {
    color: green;
    transition: 0.20s ease-in;
    text-decoration: none;
}

.invalidFeedback {
    color: red;
    display: block;
}

#profile-content {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 15%;
}
#profile{
    height: 100%;
    background: green;
}